

.flex-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: darkgray;
    border: 2px solid rgb(88, 88, 88);
    height: 800px;
    margin-right:500px;
}
.flex-item{
    background:lightslategray;
    width: 40px;
    min-height: 50px;
    border: 2px solid black;

}

body{
    background: url(https://images.unsplash.com/photo-1553375388-5917bf50a7ab?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE0fHx8ZW58MHx8fHx8);
    background-size: 150%;
}