

.flex-column{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}
.flex-item{
    background:lightslategray;
    width: 40px;
    min-height: 50px;
    border: 2px solid black;
    margin: 7px;
}

body{
    background: url(https://images.unsplash.com/photo-1553375388-5917bf50a7ab?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE0fHx8ZW58MHx8fHx8);
    background-size: 150%;

}

.flex-row{
    display: flex;
    justify-content: space-evenly;
    background: rgb(157, 151, 151);
    max-width: 200px;
}
.flex-row2{
    display: flex;
    justify-content: space-evenly;
    background: rgb(157, 151, 151);
    max-width: 200px;
    position: absolute;
    right: 0;

}
.flex-row3{
    display: flex;
    justify-content: space-evenly;
    background: rgb(157, 151, 151);
    max-width: 200px;
}

.building-container {
    display: flex;
    position: absolute;
    bottom: 0;
}